img {
  max-height: 7rem;
  min-height: 7rem;
  max-width: 7rem;
  min-width: 7rem;
}

ion-card {
  display: flex;
  justify-content: space-between;
}

.details {
  text-align: end;
  padding-right: 1%;
}

p {
  margin-top: 5%;
}
