#card-img {
  left: 15%;
  width: 70%;
}

ion-item {
  ion-icon {
    padding-right: 2%;
  }
}

ion-label {
  flex: none !important;
  -webkit-flex: none !important;
}

.item-select {
  width: 115%;
}
