

<ion-header>
  <ion-toolbar>
    <ion-back-button (click)="navigateBack()" slot="start"></ion-back-button>
    <ion-title size="small">Registrar Duenio o Supervisor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab  vertical="top" horizontal="end">
    <ion-fab-button (click)="takePic()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card id="card-img">
    <ion-card-content>
      <ion-img *ngIf="this.img; else no_img" [src]="this.img.webPath"></ion-img>

      <ng-template #no_img>
        <ion-img src="assets/images/default.jpg"></ion-img>
      </ng-template>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>

      <form [formGroup]="form" (ngSubmit)="onRegister()">
        <ion-fab (click)="scannQR()" vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button>
            <ion-icon name="barcode"></ion-icon>
          </ion-fab-button>
        </ion-fab>

        <ion-item>
          <ion-input type="inputText" name="name" formControlName="name" [(ngModel)]="inputSetQr.name" placeholder="Nombre..">
            <ion-icon name="logo-reddit"></ion-icon>
          </ion-input>
        </ion-item>

        <ng-container *ngFor="let validation of validationUserMessage.name">
          <div class="error_message"
            *ngIf="form.get('name').hasError(validation.type) && (form.get('name').dirty || form.get('name').touched)">
            {{validation.message}}
          </div>
        </ng-container>

        <ion-item>
          <ion-input type="inputText" name="surname" formControlName="surname" [(ngModel)]="inputSetQr.surname" placeholder="Apellido..">
            <ion-icon name="logo-reddit"></ion-icon>
          </ion-input>
        </ion-item>

        <ng-container *ngFor="let validation of validationUserMessage.surname">
          <div class="error_message"
            *ngIf="form.get('surname').hasError(validation.type) && (form.get('surname').dirty || form.get('surname').touched)">
            {{validation.message}}
          </div>
        </ng-container>

        <ion-item>
          <ion-input type="number" name="dni" formControlName="dni" [(ngModel)]="inputSetQr.dni" placeholder="DNI..">
            <ion-icon name="logo-reddit"></ion-icon>
          </ion-input>
        </ion-item>

        <ng-container *ngFor="let validation of validationUserMessage.dni">
          <div class="error_message"
            *ngIf="form.get('dni').hasError(validation.type) && (form.get('dni').dirty || form.get('dni').touched)">
            {{validation.message}}
          </div>
        </ng-container>

        <ion-item>
          <ion-input type="number" name="cuil" formControlName="cuil" placeholder="CUIL..">
            <ion-icon name="logo-reddit"></ion-icon>
          </ion-input>
        </ion-item>

        <ng-container *ngFor="let validation of validationUserMessage.cuil">
          <div class="error_message"
            *ngIf="form.get('cuil').hasError(validation.type) && (form.get('cuil').dirty || form.get('cuil').touched)">
            {{validation.message}}
          </div>
        </ng-container>

        <ion-item>
          <ion-label>
            <ion-icon name="logo-reddit"></ion-icon>
          </ion-label>

          <ion-select placeholder="Perfil.." name="profile" formControlName="profile" okText="Confirmar"
            cancelText="Cancelar">
            <ion-select-option *ngFor="let e of this.listEmployees">{{ e.kynd }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ng-container *ngFor="let validation of validationUserMessage.profile">
          <div class="error_message"
            *ngIf="form.get('profile').hasError(validation.type) && (form.get('profile').dirty || form.get('profile').touched)">
            {{validation.message}}
          </div>
        </ng-container>

        <ion-item>
          <ion-input type="text" name="email" formControlName="email" placeholder="Correo..">
            <ion-icon name="mail-outline"></ion-icon>
          </ion-input>
        </ion-item>

        <ng-container *ngFor="let validation of validationUserMessage.email">
          <div class="error_message"
            *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
            {{validation.message}}
          </div>
        </ng-container>

        <ion-item>
          <ion-input type="password" name="password" formControlName="password" placeholder="**************">
            <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-input>
        </ion-item>

        <ng-container *ngFor="let validation of validationUserMessage.password">
          <div class="error_message"
            *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
            {{validation.message}}
          </div>
        </ng-container>

        <ion-button shape="round" type="submit" fill="solid" class="sign-btn" [disabled]="!form.valid">
          Registrar</ion-button>

      </form>
    </ion-card-content>
  </ion-card>

  <ion-fab (click)="redirectTo('home')" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
