#container{

    text-align: center;
    padding-top: 100px;
    
}

#xx{
    width: 80px;
    margin-left: 145px;
    position: absolute;
    margin-top: 80px;
}
#x2{
    width: 360px;
    position: inherit;
}
ion-content{
    --overflow: hidden;
    --background: #C157FF;
}