<ion-content>

  <div class="container-img">
    <ion-img src="assets/icon/favicon.png"></ion-img>
  </div>

  <ion-card>
    <ion-card-content>

      <form [formGroup]="form" (ngSubmit)="onLogin()">
        <div class="wrapform">
          <ion-item>
            <ion-input type="text" name="email" formControlName="email" placeholder="Correo">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let validation of validationUserMessage.email">
              <div class="error_message"
                *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-input type="password" name="password" formControlName="password" placeholder="**************">
              <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-input>
          </ion-item>

          <div>
            <ng-container *ngFor="let validation of validationUserMessage.password">
              <div class="error_message"
                *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>

        </div>

        <ion-button shape="round" type="submit" fill="solid" class="sign-btn" [disabled]="!form.valid">
          Ingresar</ion-button>

        <!-- <ion-item class="divUsuarios" color="none" lines="none">
          <p id="icon-user" *ngFor="let user of this.users" (click)="selectUser(user)">
            {{ user.icon }}
          </p>
        </ion-item> -->

      </form>


    </ion-card-content>




  </ion-card>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" >

    <ion-fab-button>
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"> {{imgUser}}</ion-icon>

    </ion-fab-button>

    <ion-fab-list side="top" >
      <!-- <ion-fab-button color="dark" (click)="completar1()" value="admin@admin.com" style=" margin-right: 60px "> -->
        <ion-fab-button id="icon-user" *ngFor="let user of this.users" (click)="selectUser(user)" color="dark">
          {{ user.icon }}
        </ion-fab-button>

    </ion-fab-list>
  </ion-fab>

  <ion-fab (click)="onAnonymous()" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button id="anonymus"> ❓ </ion-fab-button>
  </ion-fab>
</ion-content>


<ion-footer>
  <p>¿No tienes una cuenta?</p>
  <ion-button (click)="redirectTo('user/register/cliente')" size="small" shape="round" fill="solid" class="sign-btn">
    Regístrate</ion-button>
</ion-footer>
